.dashboard {
  display: flex;
  flex-direction: column;
  gap: 25px;
}


/* أول 3 كروت */
.top-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


/* الكروت الطويلة تحت */
.bottom-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


/* كل الكروت */
.glass-item {

  background: rgba(255,255,255,0.12);

  border: 1px solid rgba(255,255,255,0.25);

  border-radius: 20px;

  padding: 25px;

  min-height: 150px;
  padding:20px

}



/* المستطيلات */
.bottom-cards .glass-item {

  width: 100%;

  height: auto;

}




.website-logo {

  width: 90px;

  height: 90px;

  object-fit: contain;

}




@media(max-width:900px){

  .top-cards{

    grid-template-columns:1fr;

  }

}